@import url("https://fonts.googleapis.com/css?family=Caveat:400,700|Gochi+Hand");

/* body {
  background: #000;
  display: flex;
  justify-content: center;
  font-family: "Caveat", cursive;
  font-family: "Julius Sans One", sans-serif;
} */

h1 {
  font-size: 88px;
  text-align: center;
}

.blinking-text {
  animation: blink 1.5s linear infinite;
}

@keyframes blink {
  0%,
  100% {
    color: #fff;
    text-shadow: 3px 0 20px #0099ff, 0 0 20px #0099ff, 0 0 40px #0099ff,
      0 0 80px #0099ff, 0 0 120px #0099ff, 0 0 200px #0099ff, 0 0 300px #0099ff,
      0 0 400px #0099ff;
  }
  5%,
  95% {
    color: #111;
    opacity: 1;
    text-shadow: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content-div {
  animation: fadeIn 0.5s ease-in;
  margin: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75vw;
  min-width: 260px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  max-width: 650px;
  cursor: pointer;
  transition: 0.2s;
}
.content-div.dark {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.content-div.light {
  box-shadow: 4px 4px 12px 0 rgba(31, 38, 135, 0.37);
  border-radius: 4px;
  background: transparent;
}

.uploaded-date {
  /* display: inline; */
  position: absolute;
  right: 50px;
  bottom: -15px;
}

.content-img {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.content-img.dark {
  background: url("../../../public/bing/book.png") no-repeat center center/cover;
  background-attachment: fixed;
}
.content-img.light {
  /* background-color: #d9e7fc; */
  background-color: #eef7ff;
}

.blur-content {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.outer-container-content {
  width: 100%;
  padding: 20px;
}

.content-content {
  width: 100%;
  max-width: 1200px;
}

.img-div {
  flex: 1;
  /* margin-right: 5px; */
  margin: 0px;
}

.text-div {
  font-size: 1rem;
  padding: 0px;
  flex: 6;
  overflow: scroll;
  /* white-space: nowrap;
  text-overflow: ellipsis; */
}

.download-div img {
  flex: 2;
  transition: 0.3s ease-in;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 3px;
  padding: 3px;
}

.download-div:hover {
  transform: scale(1.1);
}

.custom-button,
.custom-button-submit {
  display: inline-block;
  border: 2px solid blue;
  border-radius: 25%;
  min-width: 50px;
  height: 50px;
  color: white;
  background-color: rgba(0, 0, 255, 0.8);
  cursor: pointer;
  font-size: 34px;
  text-align: center;
  line-height: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.custom-button:hover,
.custom-button-submit:hover {
  background-color: darkblue;
}

.custom-button-submit {
  width: 150px;
  border-radius: 25px;
}

.custom-button-submit:hover {
  border-radius: 0px;
}

.file-input-wrapper {
  position: fixed;
  bottom: 70px;
  right: 50px;
  overflow: hidden;
  display: inline-block;
}

.file-input {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.custom-button-submit.loading {
  cursor: not-allowed;
  background-color: black;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  margin: auto;
}
a {
  display: inline-block;
  text-decoration: none;
  text-align: left;
}

.search-sort-container {
  animation: zoomOut 1s ease-out;
  z-index: 10;
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  border-radius: 10px;
  max-width: 650px;
  cursor: pointer;
  transition: 0.2s;
}
.search-sort-container.light {
  border: 1px solid rgba(39, 129, 247, 0.39);
  color: black !important;
  background: rgba(255, 255, 255, 0.25);
  /* box-shadow: 5px 5px 20px rgba(39, 129, 247, 0.39); */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
}
.search-sort-container.dark {
  color: white;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.sort-select:not(:focus) {
  color: gray;
}
.search-input,
.sort-select {
  padding: 3px 10px;
  background: transparent;
  border-bottom: 1px solid #007bff;
  border-top: 1px solid #007bff;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Nunito";
  transition: all 0.3s ease;
}

option {
  background-color: #102c57;
  color: black;
}
.search-input.dark {
  color: white;
}

.search-input.light,
.search-input {
  color: black;
}

.search-input:focus,
.sort-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  outline: none;
}

.box select {
  background-color: transparent;
  color: white;
  padding: 5px;
  border: none;
  font-size: 1rem;
  /* box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2); */
  border-bottom: 1px solid #007bff;
  border-top: 1px solid #007bff;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  font-family: "Nunito";
}

/* .box::after {
  content: "\f13a";
  font-family: FontAwesome;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
} */

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}
.sort-select option {
  padding: 10px;
}

/* Additional styling for the container */
.search-sort-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  gap: 5px;
}

.pagination-button {
  padding: 2px 6px;
  margin: 0 2px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #f9f9f9;
  color: blue;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.pagination-button:hover {
  background-color: #e0e0e0;
}

.pagination-button.light.active {
  background-color: #102c57;
  color: white;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}
.pagination-button.dark.active {
  background-color: #01254b;
  color: white;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.pagination-arrow {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.pagination-arrow:hover {
  background-color: #e0e0e0;
}
