@keyframes slideUp {
  from {
    transform: scale(10%);
    opacity: 0.5;
    bottom: 0;
  }
  to {
    transform: scale(100%);
    opacity: 1;
    bottom: 400;
  }
}

.lottie {
  animation: slideUp 2s ease-in;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  background-size: cover;
  background-position: center;
}
.img-container.light {
  background-image: url("../../../public/background2.jpg");
  /* background: var(
    --Gradient-New-Home,
    linear-gradient(86deg, #f0f8ff 1.71%, #fffcef 99.56%)
  ); */
}

.img-container.dark {
  background-image: url("../../../public/bing/welcome.jpeg");
}

.blur-home {
  width: 100%;
  position: relative;
  position: fixed;
  backdrop-filter: blur(0.5px);
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.blur-home.light {
  background-color: rgba(145, 142, 142, 0.295);
}
.blur-home.dark {
  background-color: rgba(0, 0, 0, 0.3);
}
.logo {
  position: absolute;
  top: 0px;
  z-index: 1;
}
.no-underline {
  text-decoration: none;
}

@keyframes zoomOut {
  from {
    transform: scale(200%);
    opacity: 0;
  }
  to {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes zoomOpen {
  from {
    transform: scale(100%);
    opacity: 1;
  }
  to {
    transform: scale(1000%);
    opacity: 0;
  }
}

.categories {
  animation: zoomOut 1s ease-out;
  z-index: 10;
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  border-radius: 10px;
  max-width: 650px;
  cursor: pointer;
  transition: 0.2s;
}

.categories.light {
  border: 1px solid rgba(39, 129, 247, 0.39);
  color: black;
  /* background: rgba(14, 34, 56, 0.25); */
  /* background: linear-gradient(86deg, #e7f3ff 1.71%, #fff8df 99.56%);
  box-shadow: 2px 2px 2px rgba(14, 34, 56, 1); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.categories.dark {
  color: white;
  background: rgba(0, 0, 0, 0.4);
  /* box-shadow: 0 8px 32px 0 rgba(84, 28, 153, 0.37); */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.categories:hover {
  transform: scale(1.02);
}

.expand-open {
  animation: zoomOut 0.8s linear;
}

.blur1 {
  width: 100%;
  position: relative;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.gate,
.placements,
.domains,
.sem {
  background-color: rgba(255, 255, 255, 1);
  animation: zoomOut 1s ease-out;
}
