@keyframes slideUp {
  from {
    transform: scale(10%);
    opacity: 0.5;
    bottom: 0;
  }
  to {
    transform: scale(100%);
    opacity: 1;
    bottom: 400;
  }
}

@keyframes zoomWelcome {
  from {
    transform: scale(100%);
    font-size: 1rem;
  }
  to {
    transform: scale(250%);
    font-size: 2rem;
  }
}

.welcome {
  animation: zoomWelcome 2s ease-in;
}
.lottie {
  animation: slideUp 2s ease-in;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-image: url("../../../public/bing/welcome.jpeg");
  background-size: cover;
  background-position: center;
}

.blur-home {
  width: 100%;
  position: relative;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.5px);
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.logo {
  position: absolute;
  /* right: 10px; */
  top: 0;
  z-index: 1000;
}
.no-underline {
  text-decoration: none;
}

@keyframes zoomOut {
  from {
    transform: scale(200%);
    opacity: 0;
  }
  to {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes zoomOpen {
  from {
    transform: scale(100%);
    opacity: 1;
  }
  to {
    transform: scale(400%);
    opacity: 0;
  }
}

.categories {
  animation: zoomOut 1s ease-out;
  z-index: 10;
  margin: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  background: rgba(0, 0, 0, 0.25);
  /* box-shadow: 0 8px 32px 0 rgba(84, 28, 153, 0.37); */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 650px;
  cursor: pointer;
  transition: 0.2s;
}

.categories:hover {
  transform: scale(1.05);
}

.expand-open {
  animation: zoomOpen 0.5s linear;
}
