/* @keyframes blink-notify {
  0%,
  100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000,
      0 0 80px #ff0000, 0 0 120px #ff0000, 0 0 200px #ff0000, 0 0 300px #ff0000,
      0 0 400px #ff0000;
  }
  5%,
  95% {
    color: #111;
    filter: blur(0px);
    text-shadow: none;
  }
}

.blinking-text-notify {
  animation: blink-notify 1.5s linear infinite;
} */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  position: absolute;
  border-radius: 100vmax;
}

.top {
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent 50%,
    rgba(255, 49, 49, 0.5),
    rgb(255, 49, 49)
  );
}

.bottom {
  right: 0;
  bottom: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent 50%,
    rgba(255, 49, 49, 0.5),
    rgb(255, 49, 49)
  );
}

.right {
  top: 0;
  right: 0;
  width: 3px;
  height: 0;
  background: linear-gradient(
    90deg,
    transparent 50%,
    rgba(255, 49, 49, 0.5),
    rgb(255, 49, 49)
  );
}

.left {
  left: 0;
  bottom: 0;
  width: 3px;
  height: 0;
  background: linear-gradient(
    90deg,
    transparent 50%,
    rgba(255, 49, 49, 0.5),
    rgb(255, 49, 49)
  );
}

.top {
  animation: animateTop 1.5s ease-in-out infinite;
}

.bottom {
  animation: animateBottom 1.5s ease-in-out infinite;
}

.right {
  animation: animateRight 1.5s ease-in-out infinite;
}

.left {
  animation: animateLeft 1.5s ease-in-out infinite;
}

@keyframes animateTop {
  25% {
    width: 100%;
    opacity: 1;
  }

  30%,
  100% {
    opacity: 0;
  }
}

@keyframes animateBottom {
  0%,
  50% {
    opacity: 0;
    width: 0;
  }

  75% {
    opacity: 1;
    width: 100%;
  }

  76%,
  100% {
    opacity: 0;
  }
}

@keyframes animateRight {
  0%,
  25% {
    opacity: 0;
    height: 0;
  }

  50% {
    opacity: 1;
    height: 100%;
  }

  55%,
  100% {
    height: 100%;
    opacity: 0;
  }
}

@keyframes animateLeft {
  0%,
  75% {
    opacity: 0;
    bottom: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}

.blinking-text-notify {
  animation: blink-notify 1.5s linear infinite;
}

@keyframes blink-notify {
  0%,
  100% {
    color: #fff;
    text-shadow: 3px 0 20px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000,
      0 0 80px #ff0000, 0 0 120px #ff0000, 0 0 200px #ff0000, 0 0 300px #ff0000,
      0 0 400px #ff0000;
  }
  5%,
  95% {
    color: #111;
    opacity: 1;
    text-shadow: none;
  }
}
.blur-notify {
  width: 100%;
  position: relative;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.Notification-div {
  padding: 10px;
  max-width: 799px;
  margin-bottom: 10px;
  position: relative;
  transition: 0.3s;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Notification-div.dark {
  color: white;
  background: rgba(0, 0, 55, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.Notification-div.light {
  /* background-color: #fce9da; */
  color: black;
}
.Notification-content {
  font-size: 15px;
  line-height: 1.6;
}

.Notification-user {
  font-weight: bold;
  margin-bottom: 10px;
}

.Notification-date {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 12px;
}
.Notification-date.light {
  color: #4b4a4a;
}
.loading-spinner-notification {
  border: 16px solid #f3f3f3;
  border-top: 16px solid red;
  box-shadow: 0 -50px 50px -5px red;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
