.placements-div {
  animation: fadeIn 0.5s ease-in;
  margin: 0px 0px;
  padding: 10px;
  width: 95%;
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  backdrop-filter: blur(35px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  transition: 0.5s;
}
.placements-div:hover {
  transform: scale(1.01);
}
