.search-div {
  position: fixed;
  top: 15px;
  right: 100px;
  z-index: 1020;
  cursor: pointer;
  overflow: hidden;
}

#app-cover {
  position: fixed;
  top: 15px;
  right: 90px;
  z-index: 2000;
}

#app {
  position: relative;
  width: 22px;
  height: 22px;
  border-radius: 120px;
  z-index: 2;
}

form {
  position: fixed;
  height: auto;
  cursor: auto;
  right: 100px;
}
form.visible {
  right: 40px;
}
#inp-cover {
  position: absolute;
  top: 0;
  right: 341px;
  background-color: #fff;
}

.search-bar,
.search-bar-div {
  display: none;
  width: 80vw;
  height: 40px;
  max-width: 799px;
  border-radius: 10px;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2010;
  line-height: 1;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(35px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: auto;
  padding: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.search-bar-div {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  height: auto;
}

.text-div-search {
  font-size: 0.8rem;
  flex: 6;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-bar.visible,
.search-bar-div.visible {
  display: block;
}

.search-bar:focus {
  outline: none;
}
.parent-name {
  /* display: inline; */
  position: absolute;
  right: 10px;
  bottom: -15px;
}
.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 30px;
  line-height: 0.8;
  border: 0;
  background-color: #ffffff;
  border-radius: 50%;
}

button.shadow {
  box-shadow: 0 10px 30px #d0d0d0;
  z-index: 200;
}

button i.fas {
  display: block;
  line-height: 0.8;
}

#layer {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  /* transition: 0.15s ease all; */
  position: fixed;
  top: 15px;
  right: 100px;
  z-index: 1000;
  cursor: pointer;
  /* backdrop-filter: blur(0.25px);
  -webkit-backdrop-filter: blur(0.2px); */
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.layer-light {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  color: black;
}
.layer-dark {
  background: rgba(0, 0, 0, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  color: white;
}

/* #app.opened {
  box-shadow: 0 10px 30px #0190bf;
} */

.opened input.move-up {
  margin-top: 0;
}

.opened button {
  color: #1eaddc;
  background-color: #fff;
  box-shadow: none;
  cursor: pointer;
}

#app.opened + #layer {
  transform: scale(100);
  z-index: 0;
}

#app.opened + #layer.layer-dark {
  /* background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18); */
  background: transparent;
}

#app.opened + #layer.layer-light {
  /* background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(0.2px);
  -webkit-backdrop-filter: blur(0.05px);
  border: 1px solid rgba(255, 255, 255, 0.18); */
  background: transparent;
}

#app.opened ~ #init {
  z-index: -1;
}
@media (max-width: 599px) {
  .show-true {
    display: none;
  }
}
