@keyframes blinkLogin {
  0%,
  100% {
    color: #fff;
    text-shadow: 0 0 5px #5b98e9, 0 0 20px #5b98e9, 0 0 40px #000,
      0 0 80px #5b98e9, 0 0 90px #5b98e9, 0 0 200px #5b98e9, 0 0 70px #000,
      0 0 100px #000;
  }
}
@keyframes blinkLoginDark {
  0%,
  100% {
    color: #fff;
    text-shadow: 0 0 5px #102c57, 0 0 20px #102c57, 0 0 40px #000,
      0 0 80px #102c57, 0 0 90px #102c57, 0 0 200px #102c57, 0 0 70px #000,
      0 0 100px #000;
  }
}
.cust-text-dark {
  animation: blinkLogin 0.5s linear infinite;
  font-size: 2rem;
  font-family: "Nunito";
  font-weight: bold;
  position: sticky;
  /* top: 50px; */
}
.cust-text-light {
  /* animation: blinkLoginDark 0.5s linear infinite; */
  color: #102c57;
  text-align: center;
  font-family: "Nunito";
  font-weight: bold;
  font-size: 2rem;
  position: sticky;
}
@keyframes expandWidth {
  from {
    width: 50vw;
    opacity: 0;
  }
  to {
    width: 70vw;
    opacity: 1;
  }
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("../../../public/bing/team.jpg");
  /* background: rgb(84, 28, 153);
  background: linear-gradient(
    180deg,
    rgba(84, 28, 153, 1) 0%,
    rgba(24, 24, 24, 1) 80%,
    rgba(24, 24, 24, 1) 100%
  ); */
  background-size: cover;
  background-position: center;
}

.login-content {
  animation: expandWidth 2s ease-in;
  max-width: 800px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
}

.login-left {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-right {
  flex: 1;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  padding: 20px;
}

.coursmate-img {
  mix-blend-mode: difference;
}
