@keyframes zoomIn {
  from {
    transform: scale(0%);
    opacity: 0;
  }
  to {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes blink-year {
  0%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #5b98e9, 0 0 20px #5b98e9, 0 0 40px #5b98e9,
      0 0 80px #5b98e9, 0 0 120px #5b98e9, 0 0 200px #5b98e9, 0 0 300px #5b98e9,
      0 0 400px #5b98e9;
  }
  5%,
  95% {
    color: #111;
    filter: blur(0px);
    text-shadow: none;
  }
}

.blinking-text-year {
  animation: blink-year 1.5s linear infinite;
}

.folder-div-year {
  animation: zoomIn 0.3s ease-in;
  z-index: 10;
  margin: 20px;
  /* padding: 10px;  */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  min-width: 300px;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  /* border: 1px solid rgba(31, 38, 135, 0.34); */
  max-width: 650px;
  cursor: pointer;
  transition: 0.2s;
}
.accordion-item.light {
  border: none;
  /* background: linear-gradient(86deg, #e7f3ff 1.71%, #fff8df 99.56%);
  box-shadow: 2px 2px 2px rgba(14, 34, 56, 1); */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 100%;
}
.accordion-item.dark {
  border: none;
  background: transparent;
  width: 100%;
  /* margin: 10px; */
}
.accordion-button {
  width: 100%;
  border: none;
  padding: 0;
  background-color: rgba(16, 44, 87, 0.1);
  padding: 25px 10px;
}
.accordion-button {
  background-color: transparent;
  border: none;
}
.accordion-button.light {
  /* box-shadow: 0px 9px 30px rgba(255, 149, 5, 0.1); */
}
#accordionExample {
  margin-top: 50px;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
}
.accordion-body {
  margin: 0px;
  padding: 0px;
}
.folder-div-year.light {
  /* background-color: rgba(16, 44, 87, 0.1); */
  /* box-shadow: 1px 1px 2px 0 #102c57; */
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13), 0 1px 1px 0 rgba(0, 0, 0, 0.11); */
  /* background: linear-gradient(86deg, #e7f3ff 1.71%, #fff8df 99.56%);
  box-shadow: 2px 2px 2px rgba(14, 34, 56, 1); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: white;
  /* border: 1px solid rgba(0, 0, 0, 0.25); */
}
.folder-div-year.dark {
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 4px 8px 22px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.folder-div-year:hover {
  /* transform: scale(1.02); */
}

.img-container-year {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../../../public/bing/team.jpg") no-repeat center
    center/contain;
  z-index: -1;
}

.outer-container-year {
  width: 100%;
  padding: 20px;
}
@media (min-width: 768px) {
  .outer-container-year {
    margin-left: 100px;
  }
  .outer-container-domains {
    margin-left: 100px;
  }
  .outer-container-sem {
    margin-left: 100px;
  }
  .outer-container-content {
    margin-left: 100px;
  }
  .outer-container-units {
    margin-left: 100px;
  }
  .outer-resource-container {
    margin-left: 200px;
  }
}
.content-year {
  width: 100%;
  max-width: 1200px;
}
