.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  box-shadow: 0 -50px 50px -5px #3498db52;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.loading {
  animation: blinkTeam 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.stunning-btn {
  border: none;
  width: 42px;
  height: 42px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  position: fixed;
  top: 15px;
  right: 160px;
  transition: all 0.3s ease;
  z-index: 1000;
}
.stunning-btn.light {
  background-color: black;
  color: white;
}
.stunning-btn.dark {
  background-color: white;
  color: black;
}
.stunning-btn:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.stunning-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.stunning-btn i {
  font-size: 20px;
}
